<div class="mat-elevation-z2" style="width: 30%; padding: 30px; margin: 50px auto; display: flex;justify-content: center;">
    <form [formGroup]="formCliente">
        <div class="flex">
            <mat-form-field>
                <mat-label>Nombre Completo</mat-label>
                <input matInput  formControlName="nombre">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input matInput  appPhoneMask formControlName="telefono">               
              </mat-form-field>
              <p>{{this.formCliente.controls['telefono'].value}}</p>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Pais</mat-label>
                <input matInput formControlName="pais">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Fecha Creacion</mat-label>
                <input matInput  formControlName="fechaCreacion">
              </mat-form-field>
        </div>

        <div class="flex">
            <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
            <button mat-flat-button color="warn" (click)="volver()" style="margin-left: 8px;">Volver</button>
        </div>

    </form>

</div>

